* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

/* posts */
.heart:hover {
  fill: red;
}

.icon:hover {
  cursor: pointer;
}

.heart {
  display: inline-block;
}

/* create a post */

input[type='file']::file-selector-button {
  width: 35%;
  height: 100%;
  border: 1px solid silver;
  background-color: whitesmoke;
  color: black;
}
